---
import Footer from "../layouts/partials/Footer.astro";
import Header from "../layouts/partials/Header.astro";
interface Props {
	image?: string;
	title: string;
	fixedHeader?: boolean;
	messageContact?: string;
}

const { description, image: imageConfig } = config;
const {
	title,
	fixedHeader = true,
	messageContact = null,
	image = imageConfig,
} = Astro.props;

import config from "../config/config";

const titleD = `${title} | ${config.title}`.slice(0, 69);
const { pathname } = Astro.url;
const url = Astro.url.toString().replace("http://", "https://");
const canonicalURL = new URL(pathname, url);
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
		/>
		<title>{titleD}</title>

		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<link rel="canonical" href={canonicalURL} />
		<meta
			name="viewport"
			content="width=device-width,initial-scale=1,shrink-to-fit=no"
		/>
		<meta http-equiv="x-ua-compatible" content="ie=edge" />

		<meta name="theme-color" content={config.theme_color} />
		<meta name="keywords" content={config.keywords} />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content={config.author} />
		<meta name="twitter:creator" content={config.author} />
		<meta name="twitter:title" content={titleD} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={new URL(image, url)} />

		<meta name="og:image" content={new URL(image, url)} />
		<meta name="og:title" content={titleD} />
		<meta name="og:description" content={description} />
		<meta name="og:url" content={url} />
		<meta name="og:site_name" content={config.site_name} />
		<meta name="og:type" content="website" />
		<meta name="og:locale" content="es_ES" />

		<meta itemprop="image" content={new URL(image, url)} />

		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow" />

		<meta name="msapplication-config" content="/browserconfig.xml" />

		<!-- <link rel="manifest" href="/manifest.webmanifest" /> -->

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css"
		/>
		{config.IS_PRODUCTION && 
			<>
				<script type="text/javascript">
					(function(c,l,a,r,i,t,y){
						c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
						t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
						y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
					})(window, document, "clarity", "script", "q6awzjbqi7");
				</script>
				<script async src="https://www.googletagmanager.com/gtag/js?id=G-M26ZZET872"></script>
				<script is:inline>
					window.dataLayer = window.dataLayer || [];
					function gtag(){dataLayer.push(arguments);}
					gtag('js', new Date());

					gtag('config', 'G-M26ZZET872');
				</script>
			</>
		}

	</head>
	<body class="bg-gray-800 text-white max-w-full overflow-x-hidden font-body">
		<div class="z-[999] relative">
			<Header isFixed={fixedHeader} messageContact={messageContact} />
		</div>
		<div class="relative z-[1]">
			<slot />
		</div>
		<Footer isFixed={false} />
	</body>
</html>
<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

	:root {
		font-family: "Open Sans", sans-serif;
	}

	.animate-fade-in {
		opacity: 0;
		transform: translateY(20px);
		transition:
			opacity 0.5s ease-out,
			transform 0.5s ease-out;
	}

	.animate-fade-in.visible {
		opacity: 1;
		transform: translateY(0);
	}

	.carousel {
		display: flex;
		overflow-x: auto;
		scroll-snap-type: x mandatory;
		-webkit-overflow-scrolling: touch;
	}

	.carousel-item {
		flex: 0 0 auto;
		width: 200px;
		scroll-snap-align: start;
	}
</style>
